@model MVCApp.Players

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Players</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransferCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalTeamInvite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalTeamInvite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Injury)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Injury)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerPositionsID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerPositionsID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShirtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShirtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mans.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mans.MiddleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
