@model IEnumerable<MVCApp.Coachs>

@foreach (var item in Model)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mans.MiddleName) @Html.DisplayFor(modelItem => item.Mans.FirstName) @Html.DisplayFor(modelItem => item.Mans.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mans.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mans.PersosnalPosition.Description)
        </td>
        <td>
            <button id="Edit" class="btn btn-default btn-xs" value=@item.Mans.ManID name="ManID">Редактировать</button>
        </td>
        <td>
            <div class="btn-group">
                <a href="/Mans/Details/@item.Mans.ManID" id="Details" class="btn btn-default btn-xs" name="ManID">Профиль</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                        Действия <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Mans/Edit/@item.Mans.ManID" id="Edit" value="@item.Mans.ManID" name="ManID">Редактировать</a></li>
                        <li>
                            <a href="/Mans/Delete/@item.Mans.ManID" id="Delete" class="label-danger">Удалить</a>
                        </li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
}
