@model IEnumerable<MVCApp.Agents>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mans.MiddleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mans.MiddleName) @Html.DisplayFor(modelItem => item.Mans.FirstName) @Html.DisplayFor(modelItem => item.Mans.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgentID })
        </td>
    </tr>
}

</table>
