@model IEnumerable<MVCApp.Agents>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mans.MiddleName) @Html.DisplayFor(modelItem => item.Mans.FirstName) @Html.DisplayFor(modelItem => item.Mans.LastName)
        </td>
        <td>
            <div class="btn-group">
                <a href="/Mans/Details/@item.ManID" id="Details" class="btn btn-default btn-xs" name="ManID">Профиль</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                        Действия <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Редактировать", "Edit", new { id = item.ManID })</li>
                        <li>
                            @Html.ActionLink("Удалить", "Delete", new { id = item.ManID })
                        </li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
}