@model dynamic

@foreach (var pl in ViewBag.Players)
{
    <tr>
        <td>
            @pl.PlayerNumber
        </td>
        <td>
            @pl.MiddleName @pl.FirstName @pl.LastName
        </td>
        <td>
            @pl.Nationality
        </td>

        @if (@pl.Age != null)
                {
            <td>
                @pl.Age
            </td>
        }
        else
        {
            <td>
                Неизвестно
            </td>
        }
        @if (@pl.Height != null)
                {
            <td>
                @pl.Height
            </td>
        }
        else
        {
            <td>
                Неизвестно
            </td>
        }
        @if (@pl.Weight != null)
                {
            <td>
                @pl.Weight
            </td>
        }
        else
        {
            <td>
                Неизвестно
            </td>
        }
        <td>
            <div class="btn-group">
                <a href="/Mans/Details/@pl.ManID" id="Details" class="btn btn-default btn-xs" name="ManID">Профиль</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                        Действия <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="Delete" value="@pl.ManID" name="ManID">Редактировать</a></li>
                        <li>
                            <a href="#RemovePlayer" id="Delete" class="label-danger">Удалить</a>
                            <form id="RemovePlayer" action="/Players/Delete" method="post" value="@pl.PlayerID" name="ManID"></form>
                        </li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
}
