@model IEnumerable<MVCApp.Stadiums>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StadiumDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeopleAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StadiumDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeopleAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StadiumID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StadiumID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StadiumID })
        </td>
    </tr>
}

</table>
