
@model dynamic

@{
    ViewBag.Title = "Управление клубом";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ajaxtabpage = new AjaxOptions()
    {
        HttpMethod = "GET",
        UpdateTargetId = "DataTable",
        LoadingElementId = "progressbar",
        OnBegin = "ClearTable",
        OnComplete = "FadeInTable",
        OnFailure = "AddAlert",
        InsertionMode = InsertionMode.Replace,
        LoadingElementDuration = 0
    };
}
@Scripts.Render("~/Scripts/jquery-2.2.3.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@*@Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")*@

@using MVCApp.Controllers
@if (AutotizationController.isAutorized)
{
    <div class="container-fluid">
        <h1>Управление персоналом</h1>
        <hr>
        @if (ViewBag.Failure)
        {
            <div class="row">
                <div class="alert alert-danger"><strong>Упс!</strong>@ViewBag.FMessage</div>
            </div>
        }
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Панель управления</a>
                </h4>
            </div>
            <div class="panel-collapse collapse" id="collapse1">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @using (@Html.BeginForm("Index", "Coachss", FormMethod.Post, new { @class = "form-inline" }))
                            {
                                <div class="form-group col-md-8">
                                    @Html.TextBox("SearchTerm", null, new { @class = "form-control input-sm", id = "txtSearch", placeholder = "Найти работника" })
                                    <input type="submit" class="btn btn-default btn-sm" value="Найти" />

                                    <div class="btn-group">
                                        @Ajax.ActionLink("Сбросить фильтр", "CoachTab", null, ajaxtabpage, new { @class = "btn btn-primary btn-sm" })
                                        @*<button type="button" class="btn btn-primary btn-sm">Сбросить фильтр</button>*@
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Ajax.ActionLink("Показать всех", "AllWithDeleted", ajaxtabpage)</li>
                                            <li>@Ajax.ActionLink("Показать только работающих", "All", ajaxtabpage)</li>
                                            <li>@Ajax.ActionLink("Показать только уволенных", "ShowFired", ajaxtabpage)</li>
                                        </ul>
                                    </div>
                                </div>
                            }

                            <div class="col-md-4">
                                @if (AutotizationController.role == 14)
                                {
                                    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#ModalWindow">Добавить агента</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tabbable" id="tabs-864236">
                    <ul class="nav nav-tabs navbar-right" style="margin-right:10px" id="nope">
                        @if (AutotizationController.isAutorized)
                        {
                            <li>
                                @Html.ActionLink("Весь персонал", "Index", "Mans")
                            </li>
                        }
                        <li >
                            @Html.ActionLink("Игроки", "Index", "Players")
                        </li>
                        @if (AutotizationController.isAutorized)
                        {
                            <li>
                                @Html.ActionLink("Тренеры", "Index", "Coachss")
                            </li>
                            <li class="active">
                                @Html.ActionLink("Агенты", "Index", "Agent")
                            </li>
                        }
                        <li>
                            @Html.ActionLink("Матчи", "Index", "Matches")
                        </li>
                        @if (AutotizationController.isAutorized)
                        {
                            <li>
                                @Html.ActionLink("Тренировки", "Index", "Trainings")
                            </li>
                            if (AutotizationController.role == 14)
                            {
                                <li>
                                    @Html.ActionLink("Контракты", "Index", "Contracts")
                                </li>

                            }
                        }
                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div>
                                        <table class="table">

                                            <thead>
                                                <tr>
                                                    <th>
                                                        ФИО
                                                    </th>
                                                    <th>                  </th>
                                                </tr>
                                            </thead>
                                            <tbody id="DataTable">
                                                @foreach (var item in ViewBag.Agents)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.Mans.MiddleName  @item.Mans.FirstName @item.Mans.LastName
                                                        </td>
                                                        <td>

                                                            <div class="btn-group">
                                                                <a href="/Mans/Details/@item.Mans.ManID" id="Details" class="btn btn-default btn-xs" name="ManID">Профиль</a>
                                                                @if (AutotizationController.role == 14)
                                                                {
                                                                    <div class="btn-group">
                                                                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                                                            Действия <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu" role="menu">
                                                                            <li><a href="/Mans/Edit/@item.Mans.ManID" id="Edit" value="@item.Mans.ManID" name="ManID">Редактировать</a></li>
                                                                            <li>
                                                                                <a href="/Mans/Delete/@item.Mans.ManID" id="Delete" class="label-danger">Удалить</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                }
                                                            </div>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress" id="progressbar" style="display:none; margin-top:25px;">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
        </div>
        <div id="alert_placeholder" style="margin-top:25px;">

        </div>
        <div class="modal fade" id="ModalWindow" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            х
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Добавление игрока
                        </h4>
                    </div>
                    <form role="form" class="form-group" action="/Agent/AddAgent" method="post">
                        <div class="modal-body" id="AddPlayerModal">
                            <div class="form-group has-feedback">
                                <label class="control-label" for="PlayerName">Полное имя</label>
                                <input name="Name" class="form-control input-required" placeholder="Фамилия Имя Отчество" aria-describedby="inputError2Status">
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <span id="inputError2Status" class="sr-only">(error)</span>
                            </div>
                            <div>
                                <label class="control-label">День рождения</label>
                                <input type="date" name="Birthday" class="form-control" value="1999-01-01" min='1917-01-01' />

                            </div>
                            <div>
                                <label class="control-label">Национальность</label>
                                <select name="Nationality" class="form-control">
                                    @foreach (var nat in ViewBag.Nationalities)
                                    {
                                        <option value=@nat.NationalityID>@nat.Nationality</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Отмена
                            </button>
                            <button type="submit" class="btn btn-primary" id="AddPlayerButton">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function ClearTable() {
            $("#DataTable").empty();
            $("#alert_placeholder").empty();
        }
        function FadeInTable() {
            $("#DataTable").fadeOut(0).fadeIn(700);
        }
        function AddAlert() {
            $("#alert_placeholder").empty().html('<div class="alert alert-danger fade in"><strong>Упс!</strong> Произошла ошибка, повторите попытку позже.</div>').fadeOut(0).fadeIn(500);
        }
    </script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#nope")
                .find("li")
                .click(function () {
                    $(this).parent().find("li").removeClass("active");
                    $(this).addClass("active");
                });
        })
    </script>
    <script>
        $(document).ready(
        function () {
            $("input[name='Height'], input[name='Weight'],  input[name='PlayerNumber']").on("focusout", function () {
                if (this.value === "") {

                }
                else
                    if (this.value > parseInt($(this).attr("max"))) {
                        this.value = parseInt($(this).attr("max"));
                    }
                    else
                        if (this.value < parseInt($(this).attr("min"))) {
                            this.value = parseInt($(this).attr("min"));
                        }
            });
            $("#DataTable").fadeOut(0).fadeIn(1400);
            var now = new Date();
            var month = (now.getMonth() + 1);
            var day = now.getDate();
            if (month < 10)
                month = "0" + month;
            if (day < 10)
                day = "0" + day;
            var today = now.getFullYear() + '-' + month + '-' + day;
            $('#ContractStart').val(today);
            $('#ContractEnd').val(today);
        });
    </script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $(".input-required").on("focusout",
            function () {
                if (this.value === "") {

                    $(this).parent().addClass("has-error")
                    $(this).next().addClass("glyphicon-remove")
                }
                else {
                    $(this).parent().removeClass("has-error")
                    $(this).next().removeClass("glyphicon-remove")
                }
            })
            $("input[name='Height'], input[name='Weight'],  input[name='PlayerNumber']").on("focusout", function () {
                if (this.value === "") {

                }
                else
                    if (this.value > parseInt($(this).attr("max"))) {
                        this.value = parseInt($(this).attr("max"));
                    }
                    else
                        if (this.value < parseInt($(this).attr("min"))) {
                            this.value = parseInt($(this).attr("min"));
                        }
            })
            $("input[name='PlayerNumber']").on("focusout", function () {
                if (this.value === "") {

                }
                else
                    if (this.value > parseInt($(this).attr("max"))) {
                        this.value = parseInt($(this).attr("max"));
                    }
                    else
                        if (this.value < parseInt($(this).attr("min"))) {
                            this.value = parseInt($(this).attr("min"));
                        }
            })
            var now = new Date();
            var month = (now.getMonth() + 1);
            var day = now.getDate();
            if (month < 10)
                month = "0" + month;
            if (day < 10)
                day = "0" + day;
            var today = now.getFullYear() + '-' + month + '-' + day;
            $('#ContractStart').val(today);
            $('#ContractEnd').val(today);

        })
    </script>
}
else
{
    <div class="row">
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Упс!</strong>Неавторизованные пользователи не могут просматривать эту страничку
        </div>
    </div>
}
