@model IEnumerable<MVCApp.Coachs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mans.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalPosition.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mans.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalPosition.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoachID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoachID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoachID })
        </td>
    </tr>
}

</table>
